{
  "sources": [
    {
      "name": "CustomUserControlled",
      "comment": "use to annotate user input"
    },
    {
      "name": "UserControlled",
      "comment": "use to annotate user input"
    }
  ],

  "sinks": [
    {
      "name": "CodeExecution",
      "comment": "use to annotate execution of python code"
    },
    {
      "name": "RemoteCodeExecution",
      "comment": "use to annotate execution of code"
    },
    {
      "name": "Print",
      "comment": "Print out data"
    }
  ],

  "features": [],

  "rules": [
    {
      "name": "Possible RCE:",
      "code": 5001,
      "sources": [ "CustomUserControlled" ],
      "sinks": [ "CodeExecution" ],
      "message_format": "User specified data may reach a code execution sink"
    },
    {
      "name": "Possible shell injection",
      "code": 5002,
      "sources": [ "UserControlled" ],
      "sinks": [ "RemoteCodeExecution" ],
      "message_format": "Data from [{$sources}] source(s) may reach [{$sinks}] sink(s)"
    },
    {
      "name": "Print Out",
      "code": 5003,
      "sources": [ "UserControlled" ],
      "sinks": [ "Print" ],
      "message_format": "Data from [{$sources}] source(s) may reach [{$sinks}] sink(s)"
    },
    {
      "name": "Print Out",
      "code": 5004,
      "sources": [ "CustomUserControlled" ],
      "sinks": [ "Print" ],
      "message_format": "Data from [{$sources}] source(s) may reach [{$sinks}] sink(s)"
    }
  ]
}
