{
  "sources": [
    {
      "name": "CustomUserControlled",
      "comment": "use to annotate user input"
    },
    {
      "name": "UserControlled_1",
      "comment": "use to annotate user input"
    },
    {
      "name": "UserControlled_2",
      "comment": "use to annotate user input"
    },
    {
      "name": "Test",
      "comment": "use to annotate user input"
    }
  ],

  "sinks": [
    {
      "name": "CodeExecution",
      "comment": "use to annotate execution of python code"
    },
    {
      "name": "RemoteCodeExecution",
      "comment": "use to annotate execution of code"
    },
    {
      "name": "Print",
      "comment": "Print out data"
    }
  ],

  "features": [],

  "rules": [
    {
      "name": "Possible RCE:",
      "code": 5001,
      "sources": [ "CustomUserControlled" ],
      "sinks": [ "CodeExecution" ],
      "message_format": "User specified data may reach a code execution sink"
    },
    {
      "name": "Possible shell injection",
      "code": 5002,
      "sources": [ "UserControlled" ],
      "sinks": [ "RemoteCodeExecution" ],
      "message_format": "Data from [{$sources}] source(s) may reach [{$sinks}] sink(s)"
    },
    {
      "name": "Print Out 1",
      "code": 5003,
      "sources": [ "UserControlled_1" ],
      "sinks": [ "Print" ],
      "message_format": "Data from [{$sources}] source(s) may reach [{$sinks}] sink(s)"
    },
    {
      "name": "Print Out 2",
      "code": 5005,
      "sources": [ "UserControlled_2" ],
      "sinks": [ "Print" ],
      "message_format": "Data from [{$sources}] source(s) may reach [{$sinks}] sink(s)"
    },
    {
      "name": "Print Out",
      "code": 5004,
      "sources": [ "CustomUserControlled" ],
      "sinks": [ "Print" ],
      "message_format": "Data from [{$sources}] source(s) may reach [{$sinks}] sink(s)"
    },
    {
      "name": "Variable Out",
      "code": 5014,
      "sources": [ "Test" ],
      "sinks": [ "Print" ],
      "message_format": "Data from [{$sources}] source(s) may reach [{$sinks}] sink(s)"
    }
  ]
}
